In [1]:
date = input('Enter date: (MM / DD / YYYY)')

month = date[0:2]
day = date[3:5]
year = date[6:]

print('Month:', month)
print('Day:', day)
print('Year:', year)

Enter date: (MM / DD / YYYY)10/08/2003
Month: 10
Day: 08
Year: 2003